* {
    box-sizing: border-box;
}

/* Elements */

footer {
    background-color: #BBDBF6;
    text-align: center;
    padding: 10px 10%;
}

h2 {
    text-align: center;
}

header {
    text-align: center;
    background-color: #BBDBF6;
    margin: 0;
    padding: 20px 10%;
}

li {
    list-style: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}
  
nav ul li a {
    text-decoration: none;
    margin: 0 20px 0 0;
}


/* Classes */
.location-form {
    text-align: center;
}

.location-text-input {
    width: 50%;
}

.results-categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* Psuedo Classes */
a:link {color: black;}
a:visited {color: darkslategray;}


/* IDs */

#location-section {
    background-color: #FDD8B4;
    padding: 20px 10%;

}

#overview-section {
    background-color: #DBE4CF;
    padding: 20px 10%;
    text-align: center;

}

#results-section {
    background-color: #DBE4CF;
    padding: 20px 5%;
}









@media all and (min-width: 600px) {
  
    nav {
        flex-direction: row;
    }

    .results-categories {
        display: flex;
        flex-direction: row;
    }

    .location-text-input {
        width: 30%;
    }

  }