* {
    box-sizing: border-box;
}

/* Elements */

footer {
    background-color: #BBDBF6;
    text-align: center;
    padding: 10px 10%;
}

footer p { 
    font-size: 13px;
}

h1 {
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: bold;
    margin-bottom: 10px;
}

h2, h3 {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
}

header {
    background-color: #BBDBF6;
    margin: 0;
    padding: 10px 10%;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0px;
    min-height: 100%;
    overflow-x: hidden;
    padding: 0px;
    width: 100%;
}

img {
    height: 7%;
    width: 7%;
}

input[type=submit] {
    background-color: #D3E0EA;
}

input[type=submit], input[type=text] {
    border: thin solid darkgray;
    border-radius: 5px;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 8px 18px;
}

label {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
}

li {
    list-style: none;
}

nav {
    display: flex;
    flex-direction: row;
    font-family: 'Nanum Gothic', sans-serif;
    justify-content: center; 
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}
  
nav ul li a {
    margin: 0 20px 0 0;
    text-decoration: none;
}

p {
    font-family: 'Nanum Gothic', sans-serif;
}


/* Classes */
.city {
    padding-top: 20px;
}

.city-warning {
    font-size: 13px;
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
}

.location-form, .browser-location-form {
    margin-bottom: 20px;
    text-align: center;
}

.location-text-input {
    width: 50%;
}

.overview-content {
    margin-bottom: 20px;
}

.results-categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.results-weather, .results-tides, .results-sun-moon {
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 30px;
}

/* .submit-message {
    color: darkslateblue;
    font-family: 'Nanum Gothic', sans-serif;
} */


/* Psuedo Classes */
a:link {
    color: black;
}

a:visited {
    color: darkslategray;
}


/* IDs */
#location-section {
    background-color: #FDD8B4;
    min-height: calc(30vh - 40px);
    padding: 20px 10%;
}

#overview-section {
    background-color: #DBE4CF;
    min-height: calc(30vh - 40px);
    padding: 20px 10%;
    text-align: center;
}

#results-section {
    background-color: #DBE4CF;
    min-height: calc(30vh - 40px);
    padding: 20px 5%;
}

/* Spinner */
.lds-roller {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  


/* Media Query */

@media all and (min-width: 750px) {  
    nav {
        flex-direction: row;
    }

    .location-text-input {
        width: 30%;
    }

    .results-categories {
        display: flex;
        flex-direction: row;
    }
}

